:root {
    --timing: 1s;
    --speedMercury: 2s;
    --speedVenus: 5s;
    --speedEarth: 9s;
    --speedMoon: 3s;
    --speedMars: 15s;
    --speedAsteroids: 199s;
    --speedJupiter: 39s;
    --speedIo: 3s;
    --speedEuropa: 7s;
    --speedGanymede: 11s;
    --speedCallisto: 15s;
    --speedSaturn: 44s;
    --speedUranus: 49s;
    --speedNeptune: 54s;
    --speedPluto: 49s;
    --speedSharon: 3s;
}

* {
    transition: all 0.5s ease-out;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
}

body {
    background: #000000;
    background: url("../img/stars.gif") repeat;
    width: 100%;
}

form {
    position: fixed;
}

label {
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-left: 100px;
}

input {
    width: 300px;
}

input[type=range] {
    height: 38px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
    background: transparent;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    transition: 0.2s;
    box-shadow: 1px 1px 1px #000000;
    background: #333466;
    border-radius: 5px;
    border: 1px solid #000000;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #ffffff;
    border: 1px solid #ffffff;
    height: 30px;
    width: 15px;
    border-radius: 5px;
    background: transparent;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -11px;
}

#system {
    position: absolute;
    top: 90%;
    left: 50%;
    margin-left: -100px;
    margin-top: -160px;
}

#sun {
    width: 200px;
    height: 200px;
    margin-top: 200px;
    margin-left: 150px;
    position: absolute;
    border-radius: 100%;
}

#mercury {
    position: absolute;
    margin-left: 200px;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    transform: rotate(-40deg);
}

#mercury-orbit {
    position: absolute;
    margin-top: 150px;
    margin-left: 110px;
    width: 300px;
    height: 300px;
    border: 1px dashed white;
    border-radius: 100%;
    animation: spin calc(var(--timing) + (var(--speedMercury))) linear infinite;
}

#venus {
    position: absolute;
    margin-left: 70px;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    transform: rotate(-95deg);
}

#venus-orbit {
    position: absolute;
    margin-top: 130px;
    margin-left: 90px;
    width: 350px;
    height: 350px;
    border: 1px dashed white;
    border-radius: 100%;
    animation: spin calc(var(--timing) + (var(--speedVenus))) linear infinite;
}

#earth {
    position: absolute;
    margin-left: 100px;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    transform: rotate(-115deg);
}

#earth-orbit {
    position: absolute;
    margin-top: 100px;
    margin-left: 50px;
    width: 440px;
    height: 440px;
    border: 1px dashed white;
    border-radius: 100%;
    animation: spin calc(var(--timing) + (var(--speedEarth))) linear infinite;
}

#moon {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    position: absolute;
    margin-left: 70px;
}

#moon-orbit {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 1px dotted white;
    margin-left: 75px;
    margin-top: -25px;
    animation: spinReverse calc(var(--timing) + (var(--speedMoon))) linear infinite;
}

#mars {
    position: absolute;
    margin-top: 75px;
    margin-left: 500px;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    transform: rotate(190deg);
}

#mars-orbit {
    position: absolute;
    margin-top: 10px;
    width: 600px;
    height: 600px;
    border: 1px dashed white;
    border-radius: 100%;
    animation: spin calc(var(--timing) + (var(--speedMars))) linear infinite;
}

#asteroid-belt {
    position: absolute;
    margin-right: 100px;
    margin-top: -170px;
    margin-left: -200px;
    height: 1000px;
    width: 1000px;
    border-radius: 100%;
    animation: spin calc(var(--timing) + (var(--speedAsteroids))) linear infinite;
}

#jupiter {
    position: absolute;
    margin-top: 75px;
    margin-left: 830px;
    height: 80px;
    width: 80px;
    border-radius: 100%;
    transform: rotate(-40deg);
}

#jupiter-orbit {
    position: absolute;
    margin-right: 100px;
    margin-top: -200px;
    margin-left: -220px;
    width: 1090px;
    height: 1120px;
    border: 1px solid white;
    border-radius: 100%;
    animation: spin calc(var(--timing) + (var(--speedJupiter))) linear infinite;
}

#io {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    position: absolute;
    margin-left: 58px;
}

#io-orbit {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    border: 1px dotted white;
    margin-left: 828px;
    margin-top: 75px;
    left: 100px;
    animation: spinReverse calc(var(--timing) + (var(--speedIo))) linear infinite;
}

#europa {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    position: absolute;
    margin-left: 70px;
}

#europa-orbit {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 1px dotted white;
    margin-left: 818px;
    margin-top: -92px;
    left: 100px;
    animation: spinReverse calc(var(--timing) + (var(--speedEuropa))) linear infinite;
}

#ganymede {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    position: absolute;
    margin-left: 79px;
}

#ganymede-orbit {
    width: 115px;
    height: 115px;
    border-radius: 100%;
    border: 1px dotted white;
    margin-left: 810px;
    margin-top: -110px;
    left: 100px;
    animation: spinReverse calc(var(--timing) + (var(--speedGanymede))) linear infinite;
}

#callisto {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    position: absolute;
    margin-left: 88px;
    color: #74A9D8;
}

#callisto-orbit {
    width: 130px;
    height: 130px;
    border-radius: 100%;
    border: 1px dotted white;
    margin-left: 805px;
    margin-top: -126px;
    left: 100px;
    animation: spinReverse calc(var(--timing) + (var(--speedCallisto))) linear infinite;
}

#saturn {
    position: absolute;
    margin-top: 30px;
    margin-left: 900px;
    height: 100px;
    width: 100px;
    transform: rotate(120deg);
}

#saturn-orbit {
    position: absolute;
    margin-right: 100px;
    margin-top: -280px;
    margin-left: -330px;
    width: 1290px;
    height: 1290px;
    border: 1px solid #932d2b;
    border-radius: 100%;
    animation: spin calc(var(--timing) + (var(--speedSaturn))) linear infinite;
}

#uranus {
    position: absolute;
    margin-top: 45px;
    margin-left: 1000px;
    height: 100px;
    width: 100px;
    transform: rotate(-85deg);
}

#uranus-orbit {
    position: absolute;
    margin-right: 100px;
    margin-top: -320px;
    margin-left: -380px;
    width: 1390px;
    height: 1390px;
    border: 1px solid #8d4c1b;
    border-radius: 100%;
    animation: spin calc(var(--timing) + (var(--speedUranus))) linear infinite;
}

#neptune {
    position: absolute;
    margin-top: 15px;
    margin-left: 1000px;
    height: 60px;
    width: 60px;
    transform: rotate(-60deg);
}

#neptune-orbit {
    position: absolute;
    margin-right: 100px;
    margin-top: -380px;
    margin-left: -420px;
    width: 1550px;
    height: 1550px;
    border: 1px solid #588420;
    border-radius: 100%;
    animation: spin calc(var(--timing) + (var(--speedNeptune))) linear infinite;
}

#pluto {
    position: absolute;
    margin-top: 24px;
    margin-left: 1050px;
    height: 20px;
    width: 20px;
    transform: rotate(-115deg);
}

#pluto-orbit {
    position: absolute;
    margin-right: 100px;
    margin-top: -420px;
    margin-left: -460px;
    width: 1640px;
    height: 1640px;
    border: 1px solid #8b4890;
    border-radius: 100%;
    animation: spin calc(var(--timing) + (var(--speedPluto))) linear infinite;
}

#charon {
    width: 10px;
    height: 10px;
    margin-left: 36px;
    border-radius: 100%;
    position: absolute;
}

#charon-orbit {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 1px dotted white;
    margin-left: 1033px;
    margin-top: 8px;
    animation: spinReverse calc(var(--timing) + (var(--speedSharon))) linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes spinReverse {
    100% {
        transform: rotate(-360deg);
    }
}


